.techno-bar-component{
    width: 100%;
    min-height: 100px;
    height: fit-content;
    box-sizing: border-box;
    background-color: var(yellow);
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.techno-icon{
    transition: 2s;
    height: 40px;
    width: 50px;
}

.techno-icon:not(.icon-disabled){
    transition: 2s;
    height: 60px;
    width: 75px;
}

.techno-icon:hover:not(.icon-disabled) ~ .icon-text{
    transition: 1s;
    transform: rotateY(0deg);
    color: red;
}

.icon-disabled{
    filter: grayscale(100%);
    opacity: 30%;
}


.icon-text{
    transform: rotateY(90deg);
}