.landing-view{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    background-image: url(../../assets/images/Alio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    /* filter: invert(0.7); */
}


.name{
    font-size: 70px;
    font-family: 'Shadows Into Light', cursive;
    color: var(--dark-color);
}

.role{
    font-size: 30px;
    font-family: 'Shadows Into Light', cursive;
}

.labaru{
  --labaru-size: 300px;
  width: var(--labaru-size);
  height: calc(var(--labaru-size) * 0.8);
  align-self: flex-end;
}

.personal-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: justify;

    padding: 0 4rem 0 10px;
    background-color: var(--light-blue);
    height: 100vh;
    width: 50%;
    animation-name: landing-info-animation;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    box-sizing: border-box;
    overflow: hidden;
}

.alio-background{
    background-color: white;
    height: 100vh;
    width: 50%;
    animation-name: landing-photo-animation;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    /* filter: grayscale(100%); */
}

@keyframes landing-photo-animation {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes landing-info-animation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
