@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --dark-color: #006A71;
  --light-color: #FFFFDD;
  --light-blue: #CBEAED;
  --light-green: #D3DE32;
}

button{
  z-index: 3;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.first-row{
  display: flex;
}


/**  ANIMATIONS AND CLASSES FOR SCREENS**/


.view{
  overflow: hidden;
}

.btn{
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 1;
  cursor: pointer;
  color: var(--dark-color);
  opacity: 0.7;
}

.izda-btn{
  left: 0;
  top: 50vh;
  margin: 5px;
}

.abajo-btn{
  left: 50vw;
  bottom: 0;
  margin: 5px;
}

.dcha-btn{
  right: 0;
  top: 50vh;
  margin: 5px;
}

.arriba-btn{
  left: 50vw;
  top: 0;
  margin: 5px;
}

.btn:hover{
  transition: 1s;
  width: 100px;
  height: 100px;
}

.hide{
  transition: 2s;
  filter: blur(5px);
  width: 0;
}

.show{
  transition: 2s;
  width: 100vw;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
